{"@type":"update","object":"MtaOutboundStrategy","value":{"route":{"match":{"0":{"if":"is_local_domain(rcpt_domain)","then":"'local'"}},"else":"'relay'"},"schedule":{"match":{"0":{"if":"is_local_domain(rcpt_domain)","then":"'local'"},"1":{"if":"source == 'dsn'","then":"'dsn'"},"2":{"if":"source == 'report'","then":"'report'"}},"else":"'remote'"},"tls":{"match":{"0":{"if":"retry_num > 0 && last_error == 'tls'","then":"'invalid-tls'"}},"else":"'default'"},"connection":{"match":{},"else":"'default'"}}}
