{"@type":"upsert","object":"Domain","matchOn":["name"],"value":{"domain-primary":{"subAddressing":{"@type":"Enabled"},"reportAddressUri":"mailto:postmaster","memberTenantId":null,"name":"${AFTERE_DOMAIN}","isEnabled":true,"logo":null,"aliases":{},"description":null,"dkimManagement":{"@type":"Automatic","algorithms":{"Dkim1Ed25519Sha256":true,"Dkim1RsaSha256":true},"selectorTemplate":"v{version}-{algorithm}-{date-%Y%m%d}","rotateAfter":7776000000,"deleteAfter":2592000000,"retireAfter":604800000},"certificateManagement":{"@type":"Manual"},"allowRelaying":false,"dnsManagement":{"@type":"Manual"},"directoryId":null,"catchAllAddress":null}}}
{"@type":"upsert","object":"Directory","matchOn":["description"],"value":{"aftere-ldap":{"@type":"Ldap","url":"ldap://authentik-ldap:3389","description":"authentik LDAP","filterMailbox":"(&(objectClass=inetOrgPerson)(mail=?))","baseDn":"dc=aftere,dc=internal","attrClass":{"objectClass":true},"attrSecret":{"userPassword":true},"useTls":false,"attrEmail":{"mail":true},"bindAuthentication":true,"poolMaxConnections":10,"poolTimeoutCreate":30000,"attrSecretChanged":{"pwdChangeTime":true},"bindDn":"cn=aftere-ldap-bind,ou=users,dc=aftere,dc=internal","allowInvalidCerts":false,"bindSecret":{"@type":"Value","secret":"${LDAP_BIND_PASSWORD}"},"groupClass":"groupOfNames","attrEmailAlias":{"mailAlias":true},"attrMemberOf":{"memberOf":true},"memberTenantId":null,"poolTimeoutRecycle":30000,"filterMemberOf":"(&(objectClass=groupOfNames)(member=?))","attrDescription":{"description":true},"poolTimeoutWait":30000,"timeout":30000,"filterLogin":"(&(objectClass=inetOrgPerson)(mail=?))"}}}
{"@type":"update","object":"Authentication","value":{"directoryId":"#aftere-ldap","maxApiKeys":5,"passwordMaxLength":128,"maxAppPasswords":5,"passwordMinLength":8,"passwordHashAlgorithm":"argon2id","passwordMinStrength":"three","passwordDefaultExpiry":null}}
